@font-face {
    font-family: 'Roboto-Regular';
    src: url('roboto/roboto-regular-webfont.eot');
    src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('roboto/roboto-regular-webfont.woff') format('woff'),
         url('roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('open-sans/opensans-regular-webfont.eot');
    src: url('open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('open-sans/opensans-regular-webfont.woff2') format('woff2'),
         url('open-sans/opensans-regular-webfont.woff') format('woff'),
         url('open-sans/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('montserrat/montserrat-regular-webfont.eot');
    src: url('montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('montserrat/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato-Regular';
    src: url('lato/lato-regular-webfont.eot');
    src: url('lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato/lato-regular-webfont.woff2') format('woff2'),
         url('lato/lato-regular-webfont.woff') format('woff'),
         url('lato/lato-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('raleway/raleway-regular-webfont.eot');
    src: url('raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('raleway/raleway-regular-webfont.woff') format('woff'),
         url('raleway/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTS55F';
    src: url('PT-Sans/ptc55f-webfont.eot');
    src: url('PT-Sans/ptc55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT-Sans/ptc55f-webfont.woff2') format('woff2'),
         url('PT-Sans/ptc55f-webfont.woff') format('woff'),
         url('PT-Sans/ptc55f-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family:"AvenirLTStd-Medium";
	src:url("avenir-lt-std/AvenirLTStd-Medium.otf");
	src:url("avenir-lt-std/AvenirLTStd-Medium.otf") format("OpenType");
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'din-regular';
    src: url('DIN/din-regular-webfont.eot');
    src: url('DIN/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('DIN/din-regular-webfont.woff2') format('woff2'),
         url('DIN/din-regular-webfont.woff') format('woff'),
         url('DIN/din-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Proxima Nova Alt Light';
    src: url('proxima-nova-alt-lt/proxima_nova_alt_light-webfont.eot');
    src: url('proxima-nova-alt-lt/proxima_nova_alt_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proxima-nova-alt-lt/proxima_nova_alt_light-webfont.woff2') format('woff2'),
         url('proxima-nova-alt-lt/proxima_nova_alt_light-webfont.woff') format('woff'),
         url('proxima-nova-alt-lt/proxima_nova_alt_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.roboto *{
 font-family:"Roboto-Regular" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.opensans *{
 font-family:"OpenSans-Regular" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.montserrat *{
 font-family:"Montserrat-Regular" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.lato *{
 font-family:"Lato-Regular" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.proxima_nova *{
 font-family:"Proxima Nova Alt Light" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.helvetica *{
 font-family: "Helvetica" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.raleway *{
 font-family:"Raleway-Regular" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.avenir *{
 font-family:"AvenirLTStd-Medium" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.din *{
 font-family:"din-regular" !important;
 font-weight: 700 !important;
 font-style: normal;
}
.pt_sans *{
 font-family:"PTS55F" !important;
 font-weight: 700 !important;
 font-style: normal;
}