/*resetting all the styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:"Roboto-Regular";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.login{
	padding: 0;
}
.echidna_home{
	background: #989898;
	padding: 10% 0 5%;
}
.echidna_home img{
	width: auto;
}
.img-responsive{
	display: inline;
}
.welcome{
	color: #fff;
	font-family:"Roboto-Black";
	margin-top: 5%;
}
.form-container{
	text-align: center;
	margin: 6% 0;
}
.form_div{
	display: inline-block;
	text-align: left;
	color: #000;
	font-family:"Roboto-Regular";
}
.form_div .sr-only{
	width: auto;
	text-align: left;
	height: auto;
	font-size: 12px;
	position: static;
}
.form_div .form-inline .form-control{
	border-radius: 0;
	border: 1px solid #000;
	width: 250px;
}
.form_div .form-inline .form-group.password{
	margin-left: 15px;
}
.btn{
	display: block;
}
.btn.btn-default{
	background: #ccc;
	border:0;
	border-radius: 0;
	color: #000;
	padding: 7px 50px;
	margin-top: 15px;
}
img{
	width: 100%;
}
.filter_grid{
	width: auto;
	margin: 20px 0 10px;
}
.cen{
	text-align: center;
}
.grid_head{
	margin-top: 90px;
}
.grid-container{
	display: inline-block;
	position: relative;
	text-align: center;
	width: 80%;
	margin: 10% 0;
	height: 265px;
	border: 1px solid #ccc;
}
.grid_detail{
	/*position: absolute;*/
	width: 100%;
	bottom: 0;
	font-size: 12px;
	background: #fff;
	max-height: 50%;
	z-index: 2;
}
.grid_detail p{
	padding: 10px;
	display: none;
}
.grid_detail a{
	padding: 10px;
	border-top: 1px dashed #000;
	display: block;
	color: #000;
	display: none;
}
.hover_content{
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	font-size: 12px;
	display: none;
	z-index: 2;
}
.hover_content .gridno{
	float: left;
}
.hover_content .date{
	float: right;
}
.hover_content input{
	display: block;
	margin: 18% auto;
	border:none;
	padding: 5px 15px;
	background: #fff;
}
.hover_content input:hover{
	background: #000;
	color:#fff;
}
.overlay{
	background: rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	display: none;
	z-index: 1;
}
.logo-div{
	display: inline-block;
}
.header-container{
	background: #989898;
	position: fixed;
	width: 100%;
	z-index: 5;
	padding: 15px;
}
.grid_btn{
	margin-top: 10px;
}
.footer_container{
	padding: 15px;
	background: #989898;
	color: #fff;
	font-size: 12px;
}