.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
asserts/style.css
asserts/base_assets/style.css
asserts/base_assets/style.css
asserts/base_assets/script.js
asserts/base_assets/style.css