@media(min-width: 1200px) {

}
@media(min-width: 980px) and (max-width: 1200px) {
	.hover_content{
		text-align: center;
	}
	.hover_content .gridno,.hover_content .date{
		float: none;
		display: block;
	}
	.grid_element .card_data .descp h2{
		font-size: 20px;
		margin-bottom: 5px;
	}
}

@media(min-width: 768px) and (max-width:979px) {
	.grid_element .card_data h2{
		font-size: 20px;
	}
	.grid_element .card_data p{
		font-size: 10px;
	}
	.hover_content .gridno,.hover_content .date{
		float: none;
		display: block;
	}
	.grid_element .card_data h2{
		font-size: 16px;
	}
	.grid_element .card_data .descp h2, .grid_element .card_data .descp p{
		padding: 5px;
	}
	.onebyone{
		 width: 30%;
		 /*height: 20%;*/
		 display: inline-block;
	}
	.onebytwo{
		 width: 30%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.onebythree{
		 width: 30%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.twobyone{
		 width: 50%;
		 /*height: 20%;*/
		 display: inline-block;
	}
	.twobytwo{
		 width: 50%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.twobythree{
		 width: 50%;
		 /*height: 60%;*/
		 display: inline-block;
	}
	.threebyone{
		 width: 70%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.threebytwo{
		 width: 70%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.threebythree{
		 width: 70%;
		 /*height: 60%;*/
		 display: inline-block;
	}
}

@media(max-width: 767px) {
	.grid_element .card_data .descp h2, .grid_element .card_data .descp p{
		padding: 0;
		margin: 5px;
	}
	.hover_content .gridno,.hover_content .date{
		float: none;
		display: block;
	}
	.onebyone{
		 width: 30%;
		 /*height: 20%;*/
		 display: inline-block;
	}
	.onebytwo{
		 width: 30%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.onebythree{
		 width: 30%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.twobyone{
		 width: 50%;
		 /*height: 20%;*/
		 display: inline-block;
	}
	.twobytwo{
		 width: 50%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.twobythree{
		 width: 50%;
		 /*height: 60%;*/
		 display: inline-block;
	}
	.threebyone{
		 width: 70%;
		 /*height: 60%;*/
		 display: inline-block;
	}
	.threebytwo{
		 width: 70%;
		 /*height: 40%;*/
		 display: inline-block;
	}
	.threebythree{
		 width: 70%;
		 /*height: 60%;*/
		 display: inline-block;
	}
	.grid_element .card_data p{
		font-size: 10px;
	}
	.grid_element .card_data h2{
		font-size:15px;
	}	
}

@media(max-width: 480px) {
	.sorting{
		width:100%;
	}
	.grid_element{
		width: 100% !important;
	}
	.grid_element .card_data h2{
		font-size: 30px;
	}
	.grid_element .card_data p{
		font-size: 16px;
	}
	.grid_element .card_data .descp h2, .grid_element .card_data .descp p{
		padding: 10px;
		margin: 0;
	}
	.grid_element .card_data .descp h2{
		font-size: 30px;
		margin-top: 80px;
		margin-bottom: 10px;
	}
	.grid_element .card_data .descp p{
		font-size: 16px;
		margin: 0 0 10px;
	}

}
@media(max-width: 380px){
	.cen.sorting{
		width: 100%;
	}
}