/*resetting all the styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:"Roboto-Regular";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
.login{
	padding: 0;
}
.echidna_home{
	background: #989898;
	padding: 10% 0 5%;
}
.echidna_home img{
	width: auto;
}
.img-responsive{
	display: inline;
}
.header-container{
	background: #000;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
	padding: 15px;
	border: none;
  	border-radius: 0;
}
.header-container .navbar-brand{
	padding: 0;
}
/*.grid_view_section{
	margin-top: 110px;
}
.crd{
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
	margin: 10% 0;
	height: 304px;
	border: 1px solid #ccc;
}
.crd .preview_hover{
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	font-size: 12px;
	z-index: 2;
	display: none;
}
.crd .text_con .card_title{
	display: block;
}
.text_con{
	/*display: none;*/
	/*background: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 100%;
}
.text_con .txt_div{
	position: absolute;
	bottom: 45px;
	padding: 5px;
}
.crd .card_title{
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	display: none;
	background: #fff;
}
.crd .text_con .card_title{
	display: block;
}
.preview{
	position: relative;
	width: 100%;
	height: 100%;
}
.preview img{
	width: 100%;
}
.preview_hover .edit_pre{
	float: left;
	cursor: pointer;
}
.preview_hover .delete_pre{
	float: right;
	cursor: pointer;
}
.preview_hover img{
	width: auto;
}*/
.cen{
	text-align: center;
}
.grid-container{
	display: inline-block;
	position: relative;
	text-align: center;
	width: 80%;
	margin: 10% 0;
	height: 265px;
	border: 1px solid #ccc;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover !important;
}
.grid-container img{
	width: 100%;
}
.grid_detail{
	position: absolute;
	width: 100%;
	bottom: 0 !important;
	font-size: 12px;
	background: #fff;
	max-height: 50%;
	z-index: 2;
}
.grid_detail p{
	padding: 10px;
	display: none;
}
.grid_detail a{
	padding: 10px;
	border-top: 1px dashed #000;
	display: block;
	color: #000;
	display: none;
}
.hover_content{
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	font-size: 12px;
	display: none;
	color: #fff;
	z-index: 2;
}
.hover_content .gridno{
	float: left;
}
.hover_content .date{
	float: right;
}
.hover_content input{
	display: block;
	margin: 18% auto;
	border:none;
	padding: 5px 15px;
	background: #fff;
	color: #000;
}
.hover_content input:hover{
	background: #fff;
	color:#000;
}
.overlay{
	background: rgba(0,0,0,0.5);
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	display: none;
	z-index: 1;
}
.search_sort_div{
	margin-top: 80px;
	padding: 15px;
	background: #ccc;
}
.footer_container{
	padding: 15px;
	background: #000;
}
.grid_msnry{
	margin-top: 80px;
	padding: 0;
}
.grid_element{
	float: left;
	/*border: 1px solid #000;*/
	/*background: #ccc;*/
	box-sizing: content-box;
}
.onebyone{
 width: 20%;
 /*height: 20%;*/
 display: inline-block;
}
.onebytwo{
 width: 20%;
 /*height: 40%;*/
 display: inline-block;
}
.twobyone{
 width: 40%;
 /*height: 20%;*/
 display: inline-block;
}
.twobytwo{
 width: 40%;
 /*height: 40%;*/
 display: inline-block;
}
.twobythree{
 width: 40%;
 /*height: 60%;*/
 display: inline-block;
}
.threebytwo{
 width: 60%;
 /*height: 40%;*/
 display: inline-block;
}
.threebythree{
 width: 60%;
 /*height: 60%;*/
 display: inline-block;
}
.grid_element a{
	display: inline-block;
	width: 100%;
	position: relative;
	height: 100%;
}
.grid_element img{
	width: 100%;
	visibility: hidden;
	vertical-align: bottom;
}
.grid_element .card_data{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	text-overflow: ellipsis;
}
.grid_element .card_data p, .grid_element .card_data h2{
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: border-box;
	text-overflow: ellipsis;
}
.grid_element .card_data .descp h2, .grid_element .card_data .descp p{
	padding: 10px;
	white-space: normal;
}
.grid_element .card_data.text_card{
	background-image: none !important;
}
.grid_element .card_data .descp{
	position: absolute;
	top: 0;
	padding: 10px;
	z-index: 2;
	display: none;
	opacity: 0.8;
	width: 100%;
	height: 100% !important;
}
/*.wrapper {
    overflow: visible;
    width: 100%;
    min-width: 100%;
    max-height: 100%;
    height: auto !important;
    float: left;
    background: #f1f1f1;
    position: relative;
    z-index: 1;
    margin: 120px auto -60px;
    display: block;
}
.main .row{
	margin:0;
}
.masonry-container{
	margin-right: 0;
}
.outer-container{
	position: relative;
	overflow: hidden;
	float: left;
}
.outer-container > a{
	display: block;
}
.outer-container > a > img{
	width: 100%;
	vertical-align: bottom;
}*/
